@section PostCss {
<link href="~/CSS/post.css" rel="Stylesheet" type="text/css" />
}
<div>
    <div class="tab-pane fade active show" id="profile-post">
        <!-- begin timeline -->
        <ul class="timeline">
            <li>
                <!-- begin timeline-time -->
                <div class="timeline-time">
                    <span class="date">today</span>
                    <span class="time">04:20</span>
                </div>

                <!-- end timeline-time -->
                <!-- begin timeline-icon -->
                <div class="timeline-icon">
                    <a href="javascript:;">&nbsp;</a>
                </div>
                <!-- end timeline-icon -->
                <!-- begin timeline-body -->
                <div class="timeline-body">
                    <div class="timeline-header">
                        <span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                alt=""></span>
                        <span class="username"><a asp-controller="Profile" asp-action="Timeline">Sean Ngu</a>
                            <small></small></span>
                    </div>
                    <div class="timeline-content">
                        <form>
                                                    <div class = "mb-3">
                                <div class="input-group">
                                    <input type="text" class="form-control rounded-corner" placeholder="How can I create annual reports?" />                                        
                                </div>
                                                     <div class="input-group">
                                                         <textarea class="form-control rounded-corner">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc faucibus turpis quis
                            tincidunt
                            luctus.
                            Nam sagittis dui in nunc consequat, in imperdiet nunc sagittis.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, beatae et ad odio odit
                            recusandae dolor rem eaque, veniam maxime eligendi eum vero animi voluptates non harum,
                            placeat repellendus iure doloribus tempora vel facilis ullam totam natus? Modi a
                            perferendis
                            omnis mollitia incidunt atque dicta, consequuntur sunt, accusantium, iure temporibus
                            voluptas illo doloribus nihil. Et.
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex nulla totam accusamus a
                            dolorem
                            voluptatum maxime odio eius, earum ipsa? Velit, quos? Dicta quasi cum iusto numquam
                            molestiae mollitia. Aut possimus deleniti enim ab minima. Dolorem itaque, fuga molestiae
                            sit
                            quis commodi totam maxime? Omnis voluptates repudiandae consequuntur hic veritatis, illo
                            ipsam praesentium aliquam magni repellat quae laudantium ut laborum, repellendus
                            doloremque
                            odit nesciunt quam error deserunt. Cumque explicabo tempora vero temporibus eius
                            adipisci
                            corporis quos quis amet excepturi nobis perferendis veritatis nulla iure accusantium
                            provident quaerat, commodi nesciunt. Consectetur dolore sequi delectus et inventore
                            pariatur
                            quasi veniam laborum quae at aliquid magni unde vitae tempore, assumenda repellendus,
                            velit,
                            quos similique quia facere sint molestias deleniti soluta! Fuga quod cum rem impedit
                            quos!</textarea>
                                </div>
                                                                    
                            
                                                        </div>
                            <button class="btn btn-primary f-s-12 rounded-corner" type="submit">Update</button>
                        </form>
                    </div>
                </div>
                <!-- end timeline-body -->
            </li>
        </ul>
        <!-- end timeline -->
    </div>
</div>