@{
    ViewBag.Model = @Model;
    ViewData["Model"] = "MYMODEL";
}

<li>
    <i class="activity__list__icon fa fa-question-circle-o"></i>
    <div class="activity__list__header">
        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" />
        <a asp-controller="Profile" asp-action="Timeline" >@Model.AuthorEmail</a> Asked for help: <a asp-controller="Post"
            asp-action="Index">@Model.Title
            for the better effect?</a>
    </div>
    <div class="activity__list__body entry-content">
        <p>
            @Model.Description
        </p>
    </div>
    <div class="activity__list__footer">
        <a asp-controller="Post" asp-action="Index"> <i class="fa fa-comments"></i>23</a>
        <span> <i class="fa fa-clock"></i>2 hours ago</span>
    </div>
</li>