@using HOW.Models
@model Answer


<div class="timeline-header">
<span class="userimage"><img src="https://bootdey.com/img/Content/avatar/avatar3.png"
    alt=""></span>
<span class="username"><a asp-controller="Profile" asp-action="Timeline">@Model.AuthorEmail</a>
<small></small></span>
</div>
<div class="timeline-content">
<p>
@Model.Description
</p>
</div>