@using HOW
@using HOW.Models
@model Login

@{
    ViewData["Title"] = "Seeker Login";
}

@section Home {
    <li class="nav-item active">
        <a class="nav-link" asp-controller = "Home" asp-action = "Index">Home</a>
    </li>
}

<div style = "margin: 30px 30px">
    <h1>Seeker Login</h1>
    <form method = "post" action = "/Login/SeekerLogin">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-outline mb-4">
            <input type="email" asp-for="Email" class="form-control" required/>
            <label class="form-label" for="Email">Email address</label>
            <span asp-validation-for="Email"></span>
        </div>
        <div class="form-outline mb-4">
            <input type="password" asp-for="Password" class="form-control" required/>
            <label class="form-label" for="Password">Password</label>
            <span asp-validation-for="Password"></span>
        </div>
        @*
            <!-- 2 column grid layout for inline styling -->
            <div class="row mb-4">
            <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
            <label class="form-check-label" for="form2Example31"> Remember me </label>
            </div>
            </div>

            <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
            </div>
            </div> *@

        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
        <div class="text-center">
            <p>Not a member? <a asp-controller="SignUp" asp-action="SeekerSignUp">Register</a></p>
        </div>
    </form>
</div>