@using HOW
@using HOW.Models
@model Question

@{
    ViewData["Title"] = "Profile Timeline";
    List<Question> questions = new QuestionRepository().GetQuestions("annsshahbaz@gmail.com");
}

@section HomeCss {
<link href="~/CSS/home.css" rel="Stylesheet" type="text/css" />
}
<br />
<div class="container m-auto col-xl-8 col-lg-8 col-md-6">
    <div class="col-lg-18">
        <div class="panel profile-cover">
            <div class="profile-cover__img">
                <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" />
                <h3 class="h3">John Doe</h3>
            </div>
            <div class="profile-cover__action bg--img" data-overlay="0.3">
                <a class="btn btn-rounded btn-info" asp-action="Edit">
                    <i class="fa fa-comment"></i>
                    <span>Edit Profile</span>
                </a>
@*                <button class="btn btn-rounded btn-info">
                    <i class="fa fa-comment"></i>
                    <span>Message</span>
                </button>*@
            </div>
            <div class="profile-cover__info">
                <ul class="nav">
                    <li><strong>26</strong>Seeks</li>
                </ul>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">SEEK ACTIVITY</h3>
            </div>
            <div id = "warningDiv" class="text-danger"></div>
            <div class="panel-content panel-activity">
                <form method="post" asp-controller="Profile" asp-action="Question" class="panel-activity__status">
                    <span asp-validation-for="Title"></span>
                    <input asp-for="Title" placeholder="Title of your Request" class="form-control"id= "titleInput">
                    <span asp-validation-for="Description"></span>
                    <textarea asp-for = "Description" placeholder = "Description of your Request"
                        class="form-control" id = "descriptionInput"></textarea>
                    <div class="actions">
                        <div class="btn-group">
                            <button type="button" class="btn-link" title = "" data-toggle="tooltip"
                                data-original-title="Post an Image">
                                <i class="fa fa-image"></i>
                            </button>
                            <button type="button" class="btn-link" title = "" data-toggle="tooltip"
                                data-original-title="Post an Video">
                                <i class="fa fa-video-camera"></i>
                            </button>
                            <button type="button" class="btn-link" title = "" data-toggle="tooltip"
                                data-original-title="Post an Idea">
                                <i class="fa fa-lightbulb-o"></i>
                            </button>
                            <button type="button" class="btn-link" title = "" data-toggle="tooltip"
                                data-original-title="Post an Question">
                                <i class="fa fa-question-circle-o"></i>
                            </button>
                        </div>
                        <button type="submit" class="btn btn-sm btn-rounded btn-info" id = "postSubmit">
                            Seek Help
                        </button>
                    </div>
                </form>
                <ul class="panel-activity__list">
                    @foreach(Question q in questions)
                    {
                        <partial name="ActivityItemPartialView" model="@q"/>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>