@{
    ViewData["Title"] = "Home Page";
}

@section HomeCss {
<link href="~/CSS/home.css" rel="Stylesheet" type="text/css" />
}

<br />
<div class="container m-auto col-xl-8 col-lg-8 col-md-6">
    <div class="col-lg-18">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">New Activity</h3>
            </div>
            <div class="panel-content panel-activity">
                <ul class="panel-activity__list">
                    @for(int i = 0; i < 10; i++){
                        <partial name = "ActivityItemPartialView"/>
                    }
               </ul>
            </div>
        </div>
    </div>
</div>