@{
    ViewData["Title"] = "Home Page";
}

<div>
    LOOP AND GET ALL TABLE ENTITY AND DISPLAY HERE. SEEKERS AND HELPERS BOTH TABLES. FROM DATABASE.

    <table>
        <tr>
            <th></th>
        </tr>
    </table>
</div>